@viewport {
    width: device-width;
    zoom: 1.0;
}

.button {
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
    display: block;
    padding: 8px;
}

.button:hover {
    border: 3px solid black;
    padding: 6px;
}

.button:active {
    background-color: black;
    color: white;
}

.red {
    color: rgb(219,51, 0);
    border-color: rgb(219,51, 0);
}

.blue {
    color: rgb(113, 211, 246);
    border-color: rgb(113, 211, 246);
}

.vote-option {
    margin-top: 32px;
}

.operator {
    display: flex;
    flex-direction: column;

    div {
        margin: 8px;
    }


    .all-votes {
        display: flex;
        flex-direction: row;
    }

    .cue-votes {
        .header {
            text-transform: uppercase;
            text-align: center;
            width: 100%;
        }

        .cue-vote {
            display: block;
            border: 1px black solid;

            .vote-result {
            }
        }

        width: 200px;
    }

    .cue-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 624px;

        .cue-cue {
            display: flex;
            flex-direction: row;

            .button {
                flex-basis: 1;
                flex-grow: 1;
            }
        }
    }

    .controls {
        display: flex;
        flex-direction: row;

        .button {
            margin: 4px;
        }
    }

    .decue {
        text-decoration: underline;
        cursor: pointer;
    }
}