.button {
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
    display: block;
    padding: 8px;
}

.button:hover {
    border: 3px solid black;
    padding: 6px;
}

.button:active {
    background-color: black;
    color: white;
}

.operator {
    display: flex;
    flex-direction: column;

    div {
        margin: 8px;
    }


    .all-votes {
        display: flex;
        flex-direction: row;
    }

    .cue-votes {
        .header {
            text-transform: uppercase;
            text-align: center;
            width: 100%;
        }

        .cue-vote {
            display: block;
            border: 1px black solid;

            .vote-result {
            }
        }

        width: 200px;
    }

    .cue-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 624px;
    }

    .controls {
        display: flex;
        flex-direction: row;

        .button {
            margin: 4px;
        }
    }
}